* {
    margin: 0%;
    scroll-behavior:smooth;
}

body {
    height: 500vh;
    width: 100%;
   background-color: black;
    display: flex;


}

#home-page {

    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0px;





}

.bar {
    height: 10vh;
    width: 96%;
    display: flex;
}

.bar1 {
 font-family: "poppins",sans-serif;
    width: 45%;
    height: 10vh;
    display: flex;
    gap: 20px;
    align-items: center;
}

.name {
    font-family: "poppins",sans-serif;
    width: 50%;
    height: 10vh;
    display: flex;
    font-size: 10PX;
    color: #e0dee6;
    align-items: center;
}

.bar a {
    text-decoration: none;
    color: rgb(17, 130, 210);
}

.bar1 a:hover {
    background-color:black;
    width: 49%;
    height: 23px;
    border-radius: 10px;

}

.about {
    background-color: white;
    width: 50%;
    height: 88%;
    margin-left: 130px;
    border-radius: 20px;
    overflow: hidden;


}


.aboutme {
    margin-left: 79px;
    width: 60%;
    height: 43%;
    border-radius: 20px;
    position: relative;
    top: 40px;


}

.aboutme img {
    width: 100%;
    height: 100%;
    border-radius: 20px;

}

h3 {
     font-family: "poppins",sans-serif;
    font-size: larger;
    position: relative;
    top: 50px;
    left: 100px;
}

.about1 {
    color: rgb(118, 119, 120);
    font-size: larger;
    position: relative;
    top: 200px;
    left: 50px;
}

.twitter {
    width: 25px;
    height: 25px;
    position: relative;
    top: 210px;
    left: 110px;
}

.ab img:hover {
    width: 26px;
    height: 26px;
    background-color: rgb(206, 201, 201);
border-radius: 4px;
}


.instagram {
    width: 25px;
    height: 25px;
    position: relative;
    top: 210px;
    left: 140px;

}

.email {
    width: 25px;
    height: 25px;
    position: relative;
    top: 210px;
    left: 170px;

}


/* must add hover */
#right-side {
    width: 100%;
    height: 100%;
}

.Software {
    color: white;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    width: 580px;
    height: 120px;
    margin-top: 70px;


}

.eng {
    color: rgb(95, 90, 90);
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
    width: 580px;
    height: 120px;
    margin-top: -4%;
    margin-left: -30px;

}

.me {
    color: rgb(169, 162, 162);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25px;
}

#skills {
    margin: 0;


    width: 100%;
    height: 600px;


}

.hed {
    color: rgb(91, 82, 82);
    font-size: 65px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    margin-left: 30px;
}

.htmlimg {
    width: 40%;
    height: 40%;


}

.css {
    width: 40%;
    height: 40%;
    position: relative;
    left: 65px;
}

.java {
    width: 30%;
    height: 30%;
    position: relative;
    top: 70px;
    left: 40px;
}

.python {
    width: 30%;
    height: 30%;
    position: relative;
    top: 70px;
    left: 200px;

}

.hed2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 110px;
    margin-left: 30px;
    font-size: 90px;
}

.subhed {
    color: rgb(95, 90, 90);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -10px;
    margin-left: 30px;
    font-size: 100px;

}

#mainpro {
    max-width: 80%;

    margin: auto;

}

.project {
    border: 10px;
    margin-top: 78px;
    display: grid;
    grid-template-rows: 310px 310px 310px 310px;
    grid-gap: 40px;

}

.project img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

#contact {
    width: 100%;
    height: 650px;
}

.work {
    color: white;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 150px;

}

.to {
    color: rgb(95, 90, 90);
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -8px;

}

.fname {
    color: #a6a4ab;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

}

.f1 {
    background-color: rgb(95, 90, 90);
    color: #a6a4ab;
    border: none;
    border-radius: 7px;
    width: 40%;
    height: 40px;
    margin-left: 2px;
}

.fname2 {
    color: #a6a4ab;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 41px;
    left: 41px;
}

.f2 {
    background-color: rgb(95, 90, 90);
    color: #a6a4ab;
    border: none;
    border-radius: 7px;
    width: 40%;
    height: 40px;
}

.fname3 {
    color: #a6a4ab;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

}

.f3 {
    font-size: large;
    padding: 10px;
    background-color: rgb(95, 90, 90);
    color: #a6a4ab;
    border: none;
    border-radius: 7px;
    width: 87%;
    height: 130px;

}

button {
    background-color: #F46C38;
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
    width: 90%;
    height: 35px;
}


.nn {
    background-color: #F46C38;
    width: 50px;
    height: 50px;

}
